@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap");

body {
  font-family: "Roboto", sans-serif;
}
body * {
  margin: 0;
  padding: 0;
}
.logo {
  width: 90px;
}
.gray {
  color: #707070;
}
.bg-green {
  background-color: #28a745;
}
.logo-footer {
  width: 100px;
}
